{% extends "admin/layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="row bg-light m-3">
                    <div class="col-md-12">
                        <div class="border-start border-secondary border-4 p-2">
                            <p class="text-info mb-2">{{ comment.userId.firstName|title }} a dit <span class="text-muted">le {{ comment.createdAt|date('d-m-Y') }}</span></p>
                            {{ comment.content|nl2br }}<br />
                        </div>
                        <hr />
                        <form method="post" action="/admin-valided-comment-{{ comment.id }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir valider ce commentaire ?');">
                            <input type="hidden" name="_token" value="{{ app.user.token }}">
                            <button class="btn btn-outline-danger btn-sm">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
